body, h1, h2, h3, h4, h5, h6  {
    font-family: Arial, Helvetica, sans-serif ;
  }
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.dis_none{
  display: none;
}

.img_border{
    overflow: hidden;
    /* border: .5rem solid #fafafa;  */
    border: .4rem solid #bed0be; 
    /* 換頭像框的顏色從上面變 */
    background-color: #fafafa;
    box-shadow: 0 0 .5rem #babbbc;
    transform: rotate(-360deg);
    border-radius: 50%;
}