body, h1, h2, h3, h4, h5, h6  {
    font-family: Arial, Helvetica, sans-serif ;
  }
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.dis_none{
  display: none;
}

.img_border{
    overflow: hidden;
    /* border: .5rem solid #fafafa;  */
    border: .4rem solid #bed0be; 
    /* 換頭像框的顏色從上面變 */
    background-color: #fafafa;
    box-shadow: 0 0 .5rem #babbbc;
    transform: rotate(-360deg);
    border-radius: 50%;
}
.container{
  margin-left: auto;
  margin-right: auto;
}
.index{
  padding: 3rem;
}
.index.title{
  padding: 4rem;
}
.logo.title{
  text-shadow: -10px 10px 0px #00e6e6,

  -20px 20px 0px #01cccc,

  -30px 30px 0px #00bdbd;
  color: #402d2d;
  padding: 40px 0;
  font-weight: 800;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}
img{
  max-width: 100%;
  height: auto;
}

*,*::before,*::after{
  box-sizing: border-box;
}


.img-hover{
  transition: 0.5s;
}

.img-hover:hover {
  opacity: 0.6;
  transition: 0.5s;
}
