<header>
    <nav class="navbar navbar-expand-lg navbar-default bg-amos" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="img/washing-machine.png" width="50" alt="AI智慧喜" class="d-inline-block align-text-top"
                id="logo-img"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                data-target-sidebar=".side-collapse-right">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!--頁面選單-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html">首頁</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/ChooseWashMode.html">智慧洗</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Member.html">會員管理</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>