<!DOCTYPE html>
<!-- <?php
    require_once('connect.php');
?> -->

<html lang="en">

<head>
    <!-- <?php include('templates/frame/head.html') ?> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/all.css">
    <link rel="stylesheet" href="../static/css/header.css" />
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/Frontend_lib/jquery/jquery-3.1.0.js"></script>
    <script src="../static/js/OrderManage.js"></script>
    <title>AI洗衣袋管理</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-default bg-amos" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="">
                    <img src="../static/img/washing-machine.png" width="50" alt="AI智慧喜"
                        class="d-inline-block align-text-top" id="logo-img"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" data-target-sidebar=".side-collapse-right">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--頁面選單-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">首頁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="ChooseWashMode.html">智慧洗</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="Member.html">會員管理</a>
                        </li>
                    </ul>
                </div>
                <!-- <?php
                        echo '<script>location.href="/"</script>';$i = time() str $xxxId = 'XX'+$i
                    ?>
                -->
                <!-- To後端:登入/登出按紐 -->
                <!-- 用if 判斷session 是否有資料 決定要秀登入or 登出 -->
                <a href="index.html"><input class="btn btn-outline-light" type="submit" onclick="" value="登出"></a>
                <a href="login.html"><input class="btn btn-outline-light" type="submit" onclick="" value="登入"></a>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <form method="post" action="">
                <br>
                <h4>顯示現有的AI洗衣袋</h4>

                <div class="card">
                    <div class="card-header">
                        AI洗衣袋編號: O202212110875
                    </div>
                    <div class="card-body">
                        <!-- <span class="fs-6">AI洗衣袋編號: O202212110875<br></span> -->
                        <blockquote class="blockquote mb-0  dis-none" data-detail="">
                            <footer class="blockquote-footer">2022-12-31 10:00:01</footer>
                        </blockquote>
                    </div>
                </div>
                <br>

                <div class="card">
                    <div class="card-header">
                        AI洗衣袋編號: O202212110875
                    </div>
                    <div class="card-body">
                        <!-- <span class="fs-6">AI洗衣袋編號: O202212110875<br></span> -->
                        <blockquote class="blockquote mb-0  dis-none" data-detail="">
                            <footer class="blockquote-footer">2022-12-31 10:00:01</footer>
                        </blockquote>
                    </div>
                </div>
                <br>

                <div class="card">
                    <div class="card-header">
                        AI洗衣袋編號: O202212110875
                    </div>
                    <div class="card-body">
                        <!-- <span class="fs-6">AI洗衣袋編號: O202212110875<br></span> -->
                        <blockquote class="blockquote mb-0  dis-none" data-detail="">
                            <footer class="blockquote-footer">2022-12-31 10:00:01</footer>
                        </blockquote>
                    </div>
                </div>
                <br>

            </form>
        </div>
    </main>
    <footer></footer>
</body>

</html>